<div id="<%= dom_id publication %>" class="card">
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Título:</strong>
        <%= publication.title %>
      </li>
      <li class="list-group-item">
        <strong>Descripción:</strong>
        <%= publication.description %>
      </li>
      <li class="list-group-item">
        <strong>Creador por:</strong>
        <%= User.find(publication.user_id).name %>
      </li>
    </ul>
  </div>
</div>

